/* 
    Document   : Mobile.css
    Created on : 4-jun-2012, 23:36:42
    Author     : Niels
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#header {
    position: relative;
    height: 135px;
    width: 95%;
}

#filterDetails, #clear_downloaded {
    width: auto;
}

#filterDetails .toggle {
    display: none;
}
 
.page {
    width: auto;
}

.content {
    padding: 10px;
}

input[type="text"], input[type="password"], textarea {
    width: 8.25em;
}

#header .addNew {
    width: 300px;
    float: none;
    margin-bottom: 20px;
}

#header .addNew .row .overTxtLabel {
    top: 97px !important;
}

#header .navigation {
    width: auto;
}

#header #addForm {
    clear: left
}

#movies .title .thumbnail,
#movies .item .year,
#movies .item .quality,
#movies .title .overview {
    display: none;
}

#movies .title .extra {
    width: auto;
}

#movies .title {
    width: 180px;
}
#movies .title h2 {
    font-size: 15px;
}
#movies .title .rating {
    color: #ccc;
    font-weight: normal;
}